#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_HHCoind += debian/examples/*
DEB_INSTALL_MANPAGES_HHCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix HHCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f HHCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake HHCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/HHCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/HHCoind
binary-post-install/HHCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/HHCoin-qt
